<div ng-app="movies" class="container-fluid">
	<div id="name" class="hidden"><%= "#{current_user.firstname.capitalize} #{current_user.lastname.capitalize}" %></div>
	<div class="row well" ng-controller="MoviesController">
		<div class="col-md-2">
	    <ul class="nav nav-pills nav-stacked well">
        <li  class="active"><a ng-click="listMovies()" href=""><i class="fa fa-envelope"></i> Home </a></li>
        <li><a href="" ng-click="createMovie()"><i class="fa fa-home"></i> Create Movie </a></li>
        <li><a href="#"><i class="fa fa-sign-out"></i> Logout</a></li>
      </ul>
    </div>
		<div ng-view></div>
  </div>
</div>
